.todo-header input{
    width: 560px;
    height:28px;
    font-size:14px;
    border:1px solid #ccc;
    border-radius: 4px;
    padding: 4px 7px;
}

.todo-header input:focus {
    /* 清除默认outline样式并设置为蓝色 */
    outline: none;
    border-color: rgba(82, 168, 236, 0.8);
    /* 插页 (阴影向内) | x 偏移量 | y 偏移量 |阴影模糊半径 | 阴影颜色 */
    box-shadow: inset 0 1px 1px rgb(0, 0, 0,0.075),0 0 8px rgb(67, 99, 145,0.6);
}